{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '/blast/img/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchResult</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="{% static '/blast/css/me.css' %}"/>
    <style type="text/css">
        .m-item {
            font-weight: bold;
            font-size: larger;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        table caption {
            font-size: 2em;
            font-weight: bold;
            margin: 1em 0;
        }

        th, td {
            text-align: center;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script type="text/javascript">
        function Go(inputPage) {
            window.location.href = "?table={{ getTable }}&item={{ getItem }}&key={{ getKey }}&page=" + inputPage;
        }
    </script>
</head>
<body>
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">
                <img class="ui tiny image"
                     src="https://cdn.jsdelivr.net/gh/ParallelLight/eccdna@master/common/eccDNA.lklnoccxqz4.png">
                <div class="content">
                    TeCD
                    <div class="sub header" style="color: white">The eccDNA Collection Database</div>
                </div>
            </h1>
            <a href="/homepage" class="m-item item m-mobile-hide"><i class="home icon"></i>Home</a>
            <a href="/search" class="active m-item item m-mobile-hide"><i class="search icon"></i>Search</a>
            <a href="/blast" class="m-item item m-mobile-hide"><i class="tags icon"></i>Blast</a>
            <a href="/contribute" class="m-item item m-mobile-hide"><i class="clone icon"></i>Contribute</a>
            <a href="/download" class="m-item item m-mobile-hide"><i class="download icon"></i></i>Download</a>
            <a href="/about" class="m-item item m-mobile-hide"><i class="info icon"></i>About</a>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="m-container">
    <div class="ui segment m-margin-top">
        <table class="ui very compact selectable striped celled large table">
            <caption>Results of "{{ getKey }}" searched by {{ getItem }} From TeCD</caption>
            <thead>
            <tr>
                <th width="20%">ID</th>
                <th width="15%">CHROM</th>
                <th width="10%">START</th>
                <th width="10%">END</th>
                <th width="10%">LENGTH</th>
                <th width="35%">SEQUENCE</th>
            </tr>
            </thead>
            <tbody>
            {% if results.0 %}
                {% for result in results %}
                    <tr>
                        <td width="20%"><a
                                href="http://www.eccdna.org:2022/detail?itemID={{ result.0 }}">{{ result.0 }}</a>
                        </td>
                        <td width="15%">{{ result.1 }}</td>
                        <td width="10%">{{ result.2 }}</td>
                        <td width="10%">{{ result.3 }}</td>
                        <td width="10%">{{ result.4 }}</td>
                        <td width="35%">{{ result.5 }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6"><p class="m-text">A total of <strong style="color: red">{{ resultsSum }}</strong>
                        data were searched!</p></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Sorry, not found!</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if results.0 %}
            <div class="m-margin-top m-center">
                {% if results.has_previous %}
                    <a class='active'
                       href="?table={{ getTable }}&item={{ getItem }}&key={{ getKey }}&page={{ results.previous_page_number }}">
                        <button class="ui left labeled icon button"><i class="left arrow icon"></i>Last</button>
                    </a>
                {% endif %}
                <span class="current" style="font-size: larger; font-weight: bolder; margin: 0 20px 0 20px;">
                Page
                <input type="number"
                       min="1"
                       max="{{ results.paginator.num_pages }}"
                       onkeydown="var e=window.event || arguments[0]; if(e.keyCode==13){ Go(value) }"
                       oninput="if(value>{{ results.paginator.num_pages }}) value={{ results.paginator.num_pages }}; if(value<1) value=1"
                       placeholder="{{ results.number }}">
                of {{ results.paginator.num_pages }}
            </span>
                {% if results.has_next %}
                    <a class='active'
                       href="?table={{ getTable }}&item={{ getItem }}&key={{ getKey }}&page={{ results.next_page_number }}">
                        <button class="ui right labeled icon button"><i class="right arrow icon"></i>Next</button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
<footer class="ui inverted vertical segment m-padded-tb-big m-margin-top-larger">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">The eccDNA Collection Database</p>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022</p>
    </div>
</footer>
</body>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</html>